

body {
    font-family: "JetBrains MONO";

  }
  ::-webkit-scrollbar {
        width: 11px;
        height: 2-px;
      }
      ::-webkit-scrollbar-track {
        background: #000000;
      }
      ::-webkit-scrollbar-thumb {
        background: rgb(187, 186, 186);
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
