
    @media (max-width:851px){
        .paragrafoAbout{
            font-size: 2rem;
        }
        div.menu-section a{
            display: none;
        }
         .one,
         .two,
         .three{
             background-color: rgb(35, 145, 31);
             height: 5px;
             width: 100%;
             margin: 6px auto;

             transition-duration: 0.3s ;
         }

         .menu-toggle{
             width: 40px;
             height: 30px;
             margin-right: 20px;
         }

         /*fullscreen*/
         .menu-section.on{
             position: absolute;
             top:0;
             left: 0;
             width: 100vw;
             height: 80vh;
             background-color: rgb(0, 0, 0);
             z-index:10;
             display: flex;
             justify-content: center;
             align-items: center;
            transition: all 0.4s;
         }

         .menu-section.on nav{
             display: block;
         }
         .menu-section.on .menu-toggle{
             position: absolute;
             right: 35px;
             top: 40px;
         }
         .menu-section.on .menu-toggle .one{
             transform: rotate(45deg) translate(7px, 7px);
         }
         .menu-section.on .menu-toggle .two{
             opacity: 0;
         }
         .menu-section.on .menu-toggle .three{
             transform: rotate(-45deg) translate(9px, -9px);
         }
         .menu-section.on nav ul{
             text-align: center;
             display: block;
         }
         .menu-section.on nav a{
            transition-duration:0.5s ;
            font-size: 3rem;
            line-height: 4rem;
            display: block;
            color: white;
            transform: translate3d(-20px, 0px, 0px);
            text-decoration: underline;
         }

    }

    @media (max-width:425px){

        .toggle-btn.active .toggle-icon{
            left: calc((80% + 30px) - 50px);
        }
        .toggle-btn .toggle-icon{
            height: 25px;
            width: 25px;
        }
        .toggle-btn{
            left: 10px;
            height: 30px;
            width: 60px;
        }
        .imgArrowUp{
            width: 35px;
            margin-right: -50px;
        }
        .footerIcons{
            gap: 25px;
            justify-content: center;
            margin-right: 10%;
            padding-top: 8%;

        }
        .paragrafoFooter{
            margin-left: 16%;
            text-align: center;
            margin-top: 6%;
        }
        .nameFooter{
            margin-left: 25%;
        }
        .gifEmail{
            width: 29%;
            left: 17%;
            padding-top: 65%;;
        }

        .cardsConhecimentos{
            width: 80%;
            margin-left: 13%;

        }
        .tittleConhecimentos{
            font-size: 3rem;
        }
        main{

            height: 150vh;
        }
        .cards{
            margin-left: 8%;
        }
        .tittleCard{
            font-size: 3.5rem;
        }
        .picture{
            width: 45%;
            margin-top: 15%;
        }
        .paragrafoAbout{
            width: 80%;
            margin-left: 13%;
            font-size: 1.7rem;
        }
        .tittleAbout{
            font-size: 2.5rem;
        }
        .menu-toggle{
            margin-right: -10px;

        }
        .buttonContact{
            margin-left: 25%;
        }
        .disquete{
         bottom: -15%;
         left: 33%;

        }
        .containerMenu{
            margin-left: 10%;
        }
        .tittleMenu {
            margin-top: 35%;
            text-align: center;
            width: 90%;
        }
        .paragrafoMenu{
            width: 90%;
            text-align: center;

        }
    }

    @media (max-width:375px){
        .buttonContact{
            margin-left: 18%;
        }
        .menu-toggle{
            margin-right: 30px;
        }
        .cards{
            margin-left: 5%;
        }
        .cardsConhecimentos{
            margin-left: 12%;
        }
    }

    @media (max-width:320px){
        .imgArrowUp{
            width: 30px;

        }
        .paragrafoFooter{
            margin-left: 6%;
        }
        .nameFooter{
            margin-left: 20%;
        }
        .links{
            font-size: 1.3rem;
        }
        .tittleContact{
            font-size: 2.6rem;
        }
        .gifEmail{

            padding-top: 75%;

        }
        .cards{
            margin-left: 0%;
        }
        .picture{
            margin-top: 5%;
        }
        .disquete{
            left: 29%;
        }
        .buttonContact{
            margin-left: 20%;
        }
        .paragrafoMenu{
            width: 100%;
        }
        .tittleMenu{
            width: 99%;
            margin-left: -3%;
            margin-top: 45%;
        }
        .menu-toggle{
            margin-right: 15px;
        }
    }
    @media (max-height:900px) {
       main{
        height: 240vh;
       }
    }