@media (max-width:1440px){
    .descriptionInsideProject{
        font-size:14px
    }
}

@media (max-width:768px){
    .aboutButtons{
        font-size:10px;
        align-text:center;
    }
    .cards{
        width:95%;

    }

}

@media (max-width:390px){
    .titleHome{
        font-size:20px;
    }
    .tittle{
        font-size:33px
    }
    .typeWritting{
        font-size:23px
    }
    .imgAbout{

        margin-right:50px;
    }
    .containerResume{
        margin-right:170px;

        display:flex;
        flex-direction:column;
    }
    .containerText{
        margin:0px;
        margin-left:70px;
        margin-top:20px;
        width:320px
    }
    .buttonsAbout{
        display:flex;


    }
    .TittleSecProjects{
        font-size:35px;
    }

    .cards{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding:20px;
    }
    .tittleKnowledge{
        font-size:35px;
    }
    .menusKnowledge{
        display:initial;
        margin:30px
    }
    .containerMenu{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:end;
        padding:0;
        gap:8px;
        width:100%;
        height:50px

    }
    .categoryTittle{
        display:none
    }
    .containerTable{
        width:100%;

    }
    .titleContact{
        font-size:35px
    }
    .location{
        font-size:14px
    }
    .email{
        font-size:14px
    }
    .tel{
        font-size:14px
    }
    .buttonZap{
        width:150px;
        height:16px
    }
    .gifPc{
        width:80%;
        height:100%;

    }
    .contactContainer{
        display:flex;
        flex-direction:column;
    }
    .ButtonPlus{
        margin-left:90px
    }
    .footerTittle{
    font-size:14px;
    }
    .containerFooter{
    width:350px;
    gap:0;
    flex-direction:column;
    padding-bottom:40px
    }
    .disquete{
    padding:0;
    }

}

@media (max-width:320px){
    .HomeMenu{
        margin-top:20px
    }
}

   /*height*/


@media (max-height:900px) {

 }

 @media (max-height:580px) {

 }