@media (max-width:2560px){
    .sidebar {
        right:-190px;
        width: 190px;
        translate: -190px 0;
    }
}

@media (max-width:1440px){
    .descriptionInsideProject{
        font-size:14px
    }
    .disquete{
    padding:0;
    }

}


@media (max-width:820px){
    .aboutButtons{
        font-size:10px;
        align-text:center;
    }
    .cards{
        width:95%;

    }
    .menusKnowledge{
        padding:20px;
    }
    .containerResume{

        padding:0;
        display:flex;
        flex-direction: column-reverse;

    }
    .descriptionInsideProject{
        font-size:12px
    }

}

@media (max-width:425px){
    .HomeMenu{
        margin-top:90px
    }
   .disquete{
    width:110px
   }
   .containerText{

    }
    .containerKnowledge{
        height:100%;
    }
    .tittleKnowledge{
    font-size:35px;
    }
    .footerTittle{
    font-size:10px;
    }

    .ButtonPlus{
        margin-left:90px
    }
    .titleHome{
        font-size:20px;
    }
    .tittle{
        font-size:33px
    }
    .typeWritting{
        font-size:23px
    }

    .TittleSecProjects{
        font-size:35px;
    }

    .buttonsAbout{
        display:flex;


    }
    .cards{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding:20px;
    }

    .menusKnowledge{
        display:initial;
        margin:30px
    }
    .containerMenu{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:flex-end;
        padding:0;
        gap:8px;
        width:100%;
        height:50px

    }
    .categoryTittle{
        display:none
    }
    .containerTable{
        width:100%;

    }
    .titleContact{
        font-size:35px
    }
    .location{
        font-size:14px
    }
    .email{
        font-size:14px
    }
    .tel{
        font-size:14px
    }
    .buttonZap{
        width:150px;
        height:16px
    }
    .gifPc{
        width:80%;
        height:100%;

    }
    .contactContainer{
        display:flex;
        flex-direction:column;
    }

    .footerTittle{
    font-size:14px;
    }
    .containerFooter{
    width:350px;
    gap:0;
    flex-direction:column;
    padding-bottom:40px
    }
    .disquete{
    padding:0;
    }
    .containerText{
        text-align:center;
        margin:30px;
        margin-top:10px
    }
    .imgAbout{
        margin-top:10px;

    }
    .sidebar {
        right:-380px;
        width: 380px;
        translate: -380px 0;
    }

    .fab{
        margin-right:570px;
    }
}

@media (max-width:360px){
    .titleHome{
        font-size:17px
    }
    .footerTittle{
        font-size:10px;
        }
    .containerFooter{
        width:300px;
        gap:0;
        flex-direction:column;
        display:flex
        }
        .containerText{
            text-align:center;
            margin:10px;
            margin-top:70px
        }
        .sidebar {
            right:-310px;
            width: 310px;
            translate: -290px 0;
        }
        .fab{
            margin-right:490px;
        }
}
